<{extends file="../public/common.html"}>
<{block name="content"}>
<div class="alert alert-block" style="display:none">
	<button type="button" class="close" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
	</button>
	<span></span>
</div>
<div class="row">
	<h3 class="header smaller lighter grey">
		<{$groupname}>&nbsp;&nbsp;的成员
	</h3>
	<div class="col-xs-12">
		<table id="sample-table-1" class="table table-striped table-bordered table-hover">
			<tbody>
				<tr>
					<td>
						<{foreach $admin as $ak => $av}>
						<label>
							<input name="form-field-checkbox" type="checkbox" class="ace child_box"  data-id="<{$av.id}>" <{if in_array($av.id,$groupadmin)}> checked <{/if}>>
							<span class="lbl"><{$av.name}></span>
						</label>
						<{/foreach}>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<button class="btn btn-success" onclick="submitRules(<{$gid}>)">提交</button>
						<button class="btn btn-light" onclick="location.href='<{url('group')}>'">返回</button>
					</td>
					</tr>
			</tbody>
		</table>

	</div><!-- /.span -->
</div>
<{/block}>
<{block name="script"}>
<script type="text/javascript">
	function submitRules(id){
		var ids=[];
		$('.child_box').each(function(){
			if(this.checked){
				ids.push($(this).data('id'));
			}
		});
		$.ajax({
			type:"post",
			url:"<{url('updateGroupAccess')}>",
			data:{'ids':ids.toString(),'id':id},
			success:function(data){
				if(data.code){
					$('.alert-block').removeClass('alert-danger');
					$('.alert-block span').html(data.msg);
					$('.alert-block').addClass('alert-info').show().fadeOut(3000,location.href="<{'group'}>")
				}else{
					$('.alert-block').removeClass('alert-info');
					$('.alert-block span').html(data.msg);
					$('.alert-block').addClass('alert-danger').show();
				}
			}
		});
	}
</script>
<{/block}>